<h3>Data from Json Api</h1>
<table class="border ml-5">
    <tr>
        <th class="border border-dark p-2">id</th>
        <th class="border border-dark  p-2">email</th>
        <th class="border border-dark p-2">first name</th>
        <th class="border border-dark  p-2">last name</th>
        <th class="border border-dark p-2">avatar</th>

    </tr>
    <tr ng-repeat="item in listGet">
        <td class="border border-dark p-2">{{item.id}}</td>
        <td class="border border-dark p-2">{{item.email}}</td>
        <td class="border border-dark p-2">{{item.first_name}}</td>
        <td class="border border-dark p-2">{{item.last_name}}</td>
        <td class="border border-dark p-2"><img width=100 height=100 ng-src="{{item.avatar}}"></td>
    </tr>
</table>