<div class="border border-dark m-3 p-4">
<h3>Data Post</h3>
    <table class="border ml-2">
        <tr>
            <th class="border border-dark p-2">name</th>
            <th class="border border-dark  p-2">job</th>
            <th class="border border-dark p-2">id</th>
            <th class="border border-dark  p-2">createdAt</th>
    
        </tr>
        <tr>
            <td class="border border-dark p-2">{{listPost.name}}</td>
            <td class="border border-dark p-2">{{listPost.job}}</td>
            <td class="border border-dark p-2">{{listPost.id}}</td>
            <td class="border border-dark p-2">{{listPost.createdAt}}</td>
        </tr>
    </table>
    <div class="m-3">
        Enter name:
        <br>
        <input type="text" ng-model="postName">
        <br>
        Enter job:
        <br>
        <input type="text" ng-model="postJob">
    </div>
</div>