<div class="border border-dark m-3 p-4">
    <h3>Data Put</h3>
    <table class="border ml-2">
        <tr>
            <th class="border border-dark p-2">name</th>
            <th class="border border-dark  p-2">job</th>
            <th class="border border-dark  p-2">updatedAt</th>
    
        </tr>
        <tr>
            <td class="border border-dark p-2">{{listPut.name}}</td>
            <td class="border border-dark p-2">{{listPut.job}}</td>
            <td class="border border-dark p-2">{{listPut.updatedAt}}</td>
        </tr>
    </table>
<div class="m-3">
    Enter name:
    <br>
    <input type="text" ng-model="putName">
    <br>
    Enter job:
    <br>
    <input type="text" ng-model="putJob">
</div>
</div>