﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://kit.fontawesome.com/be196be553.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="../static/scripts/lib/angular-resource.js"></script>
    <script src="../static/scripts/lib/underscore.js"></script>
    <script src="../static/scripts/app/app.js"></script>
    <script src="../static/scripts/app/components/shared/config/url.js"></script>
    <script src="../static/scripts/app/components/angularService/js/service/fetchData.js"></script>
    <script src="../static/scripts/app/components/angularService/js/controllers/getCtrl.js"></script>
    <script src="../static/scripts/app/components/angularService/js/controllers/postCtrl.js"></script>
    <script src="../static/scripts/app/components/angularService/js/controllers/putCtrl.js"></script>
    <script src="../static/scripts/app/components/angularService/js/directives/rowData.js"></script>
    <script src="../static/scripts/app/components/angularService/js/directives/rowPost.js"></script>
    <script src="../static/scripts/app/components/angularService/js/directives/rowPut.js"></script>




    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body ng-app="myApp">

    <div class="container-fluid">

        <div class="row">
            <row-data></row-data>
        </div>

        <div class="row">

            <div class="col-xl-4">
                <row-post></row-post>
            </div>

            <div class="col-xl-4">
                <row-put></row-put>
            </div>
        </div>

        <div class="mb-3">
        
            <button controller="getCtrl" ng-click="getData()" class="m-2 btn btn-primary btn-large">Get</button>
            <button controller="postCtrl" ng-click="postData()" class="m-2 btn btn-primary btn-large">Post</button>
            <button controller="putCtrl" ng-click="putData()" class="m-2 btn btn-primary btn-large">Put</button>

        </div>
    </div>



</body>

</html>